@import './app.scss';

.wrapper {
  box-shadow: $card-shadow;
  border-radius: 10px;
  margin: 40px 60px;
}
.info-wrapper {
  display: flex;
  padding: 30px;
}
.info-left {
  img {
    width: 280px;
    height: auto;
    margin-right: 30px;
  }
  .img-placeholder {
    align-items: center;
    background: linear-gradient(
      -35deg,
      $secondary-color,
      $primary-color
    );
    display: flex;
    justify-content: center;
    width: 280px;
    height: 100%;
    margin-right: 30px;
  }
  
  .img-placeholder--text {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    width: 70%;
  }
}
.info-right {
  .title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: $secondary-color;
  }
}
.introduction {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-title {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2rem;
  color: $text-color;
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 15px;
}
.item-content {
  font-size: 1.1rem;
  line-height: 2rem;
  color: $text-color;
}
.description {
  font-size: 1.2rem;
  line-height: 2rem;
  color: $text-color;
}
.button-color {
  --swiper-theme-color:#503f9d;
}